/**
*   Text Align
*
*   @class     .text-
*   @children
*   @states
*   @mutators
*/

/**
*   Text Align Center
*   Aligns text to center.
*
*   @selector .text-center
*/
.text-center {
  text-align center
}

/**
*   Text Align Left
*   Aligns text to left.
*
*   @selector .text-left
*/
.text-left {
  text-align left
}

/**
*   Text Align Right
*   Aligns text to right.
*
*   @selector .text-right
*/
.text-right {
  text-align right
}

/**
*   Text Align Justify
*   Aligns text to justify.
*
*   @selector .text-justify
*/
.text-justify {
  text-align justify
}