/**
*   Base
*
*   Base styles of pages.
*
*   @children html, body, button, input, select, textarea, article,
*             aside, figure, footer, header, hgroup, section, h1, h2,
*             h3, h4, h5, h6, a, img, pre, code, table, small, strong,
*             span
*/

/**
*   html
*
*   Main html tag.
*/
@import "children/html.styl";

/**
*   body
*
*   Main body tag.
*/
@import "children/body.styl";

/**
*   article, aside, figure, footer, header, hgroup, section
*
*   Tag group display.
*/
@import "children/group1.styl";

/**
*   Body font family
*
*   Default font family for the body and elements.
*/
@import "children/bodyFontFamily.styl";

/**
*   Headers
*
*   Default headers styles
*/
@import "children/headers.styl";

/**
*   Anchor tag
*
*   Default anchor tag styles.
*/
@import "children/a.styl";

/**
*   Image normalization
*
*   Normalizes img tag display.
*/
@import "children/img.styl";

/**
*   Monospace
*
*   Default monospaced code font styles.
*/
@import "children/monospace.styl";

/**
*   Pre
*
*   Default monospaced code styles.
*/
@import "children/pre.styl";

/**
*   Span
*
*   Default span tag style.
*/
@import "children/span.styl";

/**
*   Small
*
*   Default small tag style.
*/
@import "children/small.styl";

/**
*   Strong
*
*   Default strong tag style.
*/
@import "children/strong.styl";

/**
*   Table
*
*   Default table tag style.
*/
@import "children/table.styl";

/**
*   Paragraph
*
*   Default p tag style.
*/
@import "children/p.styl";


/**
*   Headers
*
*   Default header tags.
*/
@import "children/headers-specs.styl";
/**
*   Labels
*
*   Default label tags.
*/
@import "children/label.styl";
