/**
*   Form helper
*
*
*
*   @class     .form-helper
*   @children
*   @states
*   @mutators
*/
.form-helper {

  /**
  *   .form-helper
  *
  *   Main style.
  */
  & {
    cursor default
    margin-top -1rem
    text-align right
    user-select none
    color _font-color-light
    font-weight _weight-bold
    font-size _font-size-sm * .9
  }
}