/**
*   Rating
*
*   @class     .rating
*   @children
*   @states
*   @mutators
*/
.rating {

  /**
  *   .rating
  *
  *   Main style.
  */
  & {
    color _grey-l
  }

  /**
  *   Children
  */
  & .symbol {
    cursor pointer
  }

  & .is-scored {
    color _primary
  }

  & .is-rated {
    color _yellow
  }

  /**
  *   States
  */

  /**
  *   Mutators
  */

}