/**
*   body
*
*   @class     body
*/
body {

	/**
	*   Font color
	*
	*   @var    $color  Default body font color.
	*/
	$color = _font-color;

	/**
	*   Font weight
	*
	*   @var    $font-weight  Default body font weight.
	*/
	$font-weight = _weight-normal;

	/**
	*   body
	*
	*   Main style.
	*/
	& {
		width 100vw
		height 100vh
		color $color
		font-size 1rem
		font-weight $font-weight
		line-height 1.428571428571429
	}

}
