/**
*   html
*
*   @class     article, aside, figure, footer, header, hgroup, section
*/
article,
aside,
figure,
footer,
header,
hgroup,
section {

	/**
	*   html
	*
	*   Main style.
	*/
	& {
		display block
	}

}
