/**
*   Headings
*
*   @class     h1, h2, h3, h4, h5, h6
*/

/**
*   Header 1
*
*   It sets the style for h1 tags
*/
h1 {

  /**
  *   It sets the property style for font size
  *
  *   @prop    font-size
  */
  $font-size = _font-size-h1;

  /**
  *   h1
  *
  *   It sets the main style for Headings.
  */
  & {
    font-size $font-size
  }

}

/**
*   Header 2
*
*   It sets the style for h2 tags
*/
h2 {

  /**
  *   It sets the property style for font size
  *
  *   @prop    font-size
  */
  $font-size = _font-size-h2;

  /**
  *   h2
  *
  *   It sets the main style for Headings.
  */
  & {
    font-size $font-size
  }

}

/**
*   Header 3
*
*   It sets the style for h3 tags
*/
h3 {

  /**
  *   It sets the property style for font size
  *
  *   @prop    font-size
  */
  $font-size = _font-size-h3;

  /**
  *   h3
  *
  *   It sets the main style for Headings.
  */
  & {
    font-size $font-size
  }

}

/**
*   Header 4
*
*   It sets the style for h4 tags
*/
h4 {

  /**
  *   It sets the property style for font size
  *
  *   @prop    font-size
  */
  $font-size = _font-size-h4;

  /**
  *   h4
  *
  *   It sets the main style for Headings.
  */
  & {
    font-size $font-size
  }

}

/**
*   Header 5
*
*   It sets the style for h5 tags
*/
h5 {

  /**
  *   It sets the property style for font size
  *
  *   @prop    font-size
  */
  $font-size = _font-size-h5;

  /**
  *   h5
  *
  *   It sets the main style for Headings.
  */
  & {
    font-size $font-size
    text-transform uppercase
  }

  &.text-yellow {
    /**
    *   Font color
    *
    *   @var    $color  Font color.
    */
    $color = _font-color-yellow;

    & {
      color $color
    }
  }

  &.text-red {
    /**
    *   Font color
    *
    *   @var    $color  Font color.
    */
    $color = _font-color-red;

    & {
      color $color
    }
  }

  &.text-primary {
    /**
    *   Font color
    *
    *   @var    $color  Font color.
    */
    $color = _font-color-primary;

    & {
      color $color
    }
  }

  &.text-blue {
    /**
    *   Font color
    *
    *   @var    $color  Font color.
    */
    $color = _font-color-blue;

    & {
      color $color
    }
  }


  &.text-green {
    /**
    *   Font color
    *
    *   @var    $color  Font color.
    */
    $color = _font-color-green;

    & {
      color $color
    }
  }

  &.text-light {
    /**
    *   Font color
    *
    *   @var    $color  Font color.
    */
    $color = _font-color-light;

    & {
      color $color
    }
  }

}

/**
*   Header 6
*
*   It sets the style for h6 tags
*/
h6 {

  /**
  *   It sets the property style for font size
  *
  *   @prop    font-size
  */
  $font-size = _size-2;

  /**
  *   h6
  *
  *   It sets the main style for Headings.
  */
  & {
    font-size $font-size
  }

}
