/**
*   Small tag
*
*   @class     small
*/
small {

	/**
	*   Font size
	*
	*   @var    $font-size  Default small tag font size.
	*/
	$font-size = _font-size-sm;

	/**
	*   small
	*
	*   Main style.
	*/
	& {
		font-size $font-size
	}

}
