/**
*   Table tag
*
*   @class     table
*   @children   td, th
*/
table {

	/**
	*   table
	*
	*   Main style.
	*/
	& {
		width 100%
	}

/**
*   Children
*/
@import "table-children/td.styl";
@import "table-children/th.styl";

}
