/**
*   Buttons
*
*   Buttons
*
*   @class     .button
*   @children
*   @states
*   @mutators
*/
.button {

  /**
  *   .button
  *
  *   Main style.
  */
  & {
    margin 1rem
    color _white
    margin-left 0
    cursor pointer
    user-select none
    padding .75rem 3rem
    display inline-block
    font-size _font-size-sm
    font-weight _weight-bold
    text-transform uppercase
    background-color _primary
    border-radius _border-radius
    font-family _font-family-title
    border _border-width solid _primary

    transition background .15s
  }

  &:hover:not(.is-disabled),
  &:focus:not(.is-disabled) {
    border-color _primary-l2
    background-color _primary-l2
  }

  &:active:not(.is-disabled) {
    border-color lighten(_primary-l2, 20%)
    background-color lighten(_primary-l2, 20%)
  }

  /**
  *   Children
  */

  /**
  *   States
  */
  &.is-disabled {
    cursor default
    opacity .5
  }

  &.is-light {
    color _primary
    border-color _primary-l
    background-color _primary-l

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
      color _white
      border-color $color
      background-color $color
    }

    &:active:not(.is-disabled) {
      border-color darken(_primary-l, 20%)
      background-color darken(_primary-l, 20%)
    }
  }

  &.is-red {
    border-color _red
    background-color _red

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
      border-color _red-l2
      background-color _red-l2
    }

    &:active:not(.is-disabled) {
      border-color lighten(_red-l2, 20%)
      background-color lighten(_red-l2, 20%)
    }

    &.is-light {
      border-color _red-l
      background-color _red-l
      color _red

      &:hover:not(.is-disabled),
      &:focus:not(.is-disabled) {
        border-color darken(_red-l, 10%)
        background-color darken(_red-l, 10%)
      }

      &:active:not(.is-disabled) {
        border-color darken(_red-l, 20%)
        background-color darken(_red-l, 20%)
      }
    }
  }

  &.is-green {
    border-color _green
    background-color _green

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
      border-color _green-l2
      background-color _green-l2
    }

    &:active:not(.is-disabled) {
      border-color lighten(_green-l2, 20%)
    }

    &.is-light {
      color _green
      border-color _green-l
      background-color _green-l

      &:hover:not(.is-disabled),
      &:focus:not(.is-disabled) {
        border-color darken(_green-l, 10%)
        background-color darken(_green-l, 10%)
      }

      &:active:not(.is-disabled) {
        border-color darken(_green-l, 20%)
        background-color darken(_green-l, 20%)
      }
    }
  }

  &.is-blue {
    border-color _blue
    background-color _blue

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
      border-color _blue-l2
      background-color _blue-l2
    }

    &:active:not(.is-disabled) {
      border-color lighten(_blue-l2, 20%)
      background-color lighten(_blue-l2, 20%)
    }

    &.is-light {
      color _blue
      border-color _blue-l
      background-color _blue-l

      &:hover:not(.is-disabled),
      &:focus:not(.is-disabled) {
        border-color darken(_blue-l, 10%)
        background-color darken(_blue-l, 10%)
      }

      &:active:not(.is-disabled) {
        border-color darken(_blue-l, 20%)
        background-color darken(_blue-l, 20%)
      }
    }
  }

  &.is-yellow {
    border-color _yellow
    background-color _yellow

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
      border-color _yellow-l2
      background-color _yellow-l2
    }

    &:active:not(.is-disabled) {
      border-color lighten(_yellow-l2, 20%)
      background-color lighten(_yellow-l2, 20%)
    }

    &.is-light {
      color _yellow
      border-color _yellow-l
      background-color _yellow-l

      &:hover:not(.is-disabled),
      &:focus:not(.is-disabled) {
        border-color darken(_yellow-l, 10%)
        background-color darken(_yellow-l, 10%)
      }

      &:active:not(.is-disabled) {
        border-color darken(_yellow-l, 20%)
        background-color darken(_yellow-l, 20%)
      }
    }
  }

  &.is-grey {
    border-color _grey
    background-color _grey

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
      border-color _grey-l2
      background-color _grey-l2
    }

    &:active:not(.is-disabled) {
      border-color lighten(_grey-l2, 20%)
      background-color lighten(_grey-l2, 20%)
    }

    &.is-light {
      color _light
      border-color _light-l2
      background-color _light-l2

      &:hover:not(.is-disabled),
      &:focus:not(.is-disabled) {
        border-color darken(_light-l2, 10%)
        background-color darken(_light-l2, 10%)
      }

      &:active:not(.is-disabled) {
        border-color darken(_light-l2, 20%)
        background-color darken(_light-l2, 20%)
      }
    }
  }

  /**
  *   Mutators
  */
  &.is-link {
    color currentColor
    border-color transparent
    background-color transparent

    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled) {
      color _primary-l2
      border-color transparent
      background-color transparent
    }

    &:active:not(.is-disabled) {
      color lighten(_primary-l2, 20%)
      border-color transparent
      background transparent
    }
  }

  &.is-outlined {
    background-color transparent
    color currentColor
    &:hover:not(.is-disabled),
    &:focus:not(.is-disabled),
    &:active:not(.is-disabled) {
      color _white
    }
  }

  &.is-small {
    padding .5rem 3rem
  }
  &.is-tight {
    margin 1rem .25rem
  }
  &.is-rounded {
    border-radius 100px
  }
  &.is-icon {
    padding 0
    width 2.75rem
    height 2.75rem
    text-align center
    line-height 2.75rem

    &.is-small {
      width 2.25rem
      height 2.25rem
      line-height 2.25rem
    }
  }
  &.is-circle {
    padding 0
    width 2.75rem
    height 2.75rem
    text-align center
    line-height 2.75rem
    border-radius _border-radius-circle

    &.is-small {
      width 2.25rem
      height 2.25rem
      line-height 2.25rem
    }
  }

}