/**
*   Tabs
*
*   @class     .tabs
*   @children
*/
.tabs {

  /**
  *   Children
  */
  & .tab-header {
    display flex
    border-bottom _border-width solid _light
  }

  & .tab-item {
    color inherit
    cursor pointer
    padding 1rem .75rem

    &:hover {
      color _primary-l2
      border-bottom _border-width solid _primary-l2
    }

    &.is-active {
      color _primary
      font-weight _weight-bold
      border-bottom 2*_border-width solid _primary
    }
  }

}