/**
*   Colors
*/
_white = #ffffff;
_white-d = darken(_white, 5%);
_highlight = #fc004b;

//dark
_dark = #111418;
_dark-l = #323c46;
_dark-l2 = lighten(_dark-l, 20%);

//light
_light = #b9c2c9;
_light-l = #f3f7fa;
_light-l2 = darken(_light-l, 5%);

//grey
_grey = #595c65;
_grey-l = #989898;
_grey-l2 = lighten(_grey-l, 20%);

//blue
_blue = #4da2ff;
_blue-l = #f1f8ff;
_blue-l2 = lighten(_blue, 20%);

//primary
_primary = #00796b;
_primary-l = #e0f2f1;
//_primary = #624096;
//_primary-l = #efe7fc;
_primary-l2 = lighten(_primary, 20%);

//red
_red = #ff6d4b;
_red-l = #fff0ed;
_red-l2 = lighten(_red, 20%);

//green
_green = #a6e510;
_green-l = #f5ffdc;
_green-l2 = lighten(_green, 20%);

//yellow
_yellow = #ffd011;
_yellow-l = #fff9e3;
_yellow-l2 = lighten(_yellow, 20%);

/**
*   Fonts and Typography
*/
/** Font family **/
_font-family-body = 'Nunito', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
_font-family-title = 'Dosis', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
_font-family-monospace = 'Ubuntu Mono', 'Consolas', 'Monaco', monospace;

/** Font weight **/
_weight-normal = 400;
_weight-bold = 700;
_weight-title-normal = 700;
_weight-title-thin = 300;

/** Font size **/
_font-size-xxl = 2.625rem;
_font-size-xl = 1.75rem;
_font-size-lg = 1.375rem;
_font-size-md = 1.125rem;
_font-size-base = 1rem;
_font-size-sm = 0.800rem;

// Headers
_font-size-h1 = _font-size-xxl;
_font-size-h2 = _font-size-xl;
_font-size-h3 = _font-size-lg;
_font-size-h4 = _font-size-md;
_font-size-h5 = _font-size-sm;

/** Font color **/
_font-color = _dark-l;
_font-color-secondary = _grey-l;
_font-color-light = _grey-l;
_font-color-green = _green;
_font-color-blue = _blue;
_font-color-primary = _primary;
_font-color-red = _red;
_font-color-yellow = _yellow;
_font-color-link = _blue;

/**
*   Border
*/
/** Border radius **/
_border-radius = 4px;
_border-radius-circle = 50%;


/** Border size **/
_border-width = 1px;
_border-lg = 3px;


/**
*   Grid
*/
_grid-max-sm = 540px;
_grid-max-md = 720px;
_grid-max-lg = 960px;
_grid-max-xl = 1140px;