/**
*   Colors
*/
.text-red {

  /**
  *   .text-red
  *
  *   Main style.
  */
  & {
    color _red
  }

}

.text-blue {

  /**
  *   .text-blue
  *
  *   Main style.
  */
  & {
    color _blue
  }

}

.text-green {

  /**
  *   .text-green
  *
  *   Main style.
  */
  & {
    color _green
  }

}

.text-yellow {

  /**
  *   .text-yellow
  *
  *   Main style.
  */
  & {
    color _yellow
  }

}

.text-primary {

  /**
  *   .text-primary
  *
  *   Main style.
  */
  & {
    color _primary
  }

}

.text-light {

  /**
  *   .text-primary
  *
  *   Main style.
  */
  & {
    color _light
  }

}

.text-white {

  /**
  *   .text-primary
  *
  *   Main style.
  */
  & {
    color _white
  }

}

.text-grey {

  /**
  *   .text-grey
  *
  *   Main style.
  */
  & {
    color _grey
  }

}

.is-red {
  background-color _font-color-red
}

.is-blue {
  background-color _font-color-blue
}

.is-green {
  background-color _font-color-green
}

.is-yellow {
  background-color _font-color-yellow
}

.is-light {
  background-color _font-color-light
}

.is-primary {
  background-color _font-color-primary
}

.is-grey {
  background-color _font-color-grey
}

.is-white {
  background-color _white
}