/**
*   Table header
*
*   @class     table th
*/
& th {

	/**
	*   Font color
	*
	*   @var    $color  Table header font color.
	*/
	$color = _dark;

	/**
	*   table th
	*
	*   Main style.
	*/
	& {
		color $color
		text-align left
		vertical-align top
	}

}
