/**
*   Icon SVG child
*
*   Normalizes SVG icons.
*
*   @class     .icons svg
*/
.icon svg,
.icon svg path,
.is-inline svg,
.is-inline svg path {

	/**
	*   .icon svg, .icon svg path
	*
	*   Main style.
	*/
	& {
		width auto
		min-height 1rem
		fill currentColor
		display inline-block
		vertical-align middle
	}

}
