/**
*   Code viewer
*
*   @class     pre code
*/
& code {

	/**
	*   Font color
	*
	*   @var    $color  Code font color.
	*/
	$color = _light-l;

	/**
	*   pre code
	*
	*   Main style.
	*/
	& {
		color $color
		display block
		overflow-x auto
		border-radius _border-radius
	}

}
